body{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.header-image
{
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
    
}
 .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
 }   
.logo{
    width: 300px;
    text-shadow: 10px;
}
.head h3 {
    font-size: 2em;
    color: whitesmoke;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search {
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}
.search input {
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    
}
.search p{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 1px solid gray;
    font-size: 15px;
    padding-right: 10px;
}
.search i:first-child {
    font-size: 20px;
    color: rgb(245, 68, 68);
    padding-right: 10px;
    padding-left: 10px;

}
.search i:last-of-type {
    color: grey;
    padding-left: 10px;
 
    
    
}
